{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={% static 'css/base.css' %}>
        {% block extra_head %}

        {% endblock extra_head %}
    </head>
    <body>
        <div id="header">
            {% block header %}
            HEADER
            {% endblock header %}
        </div>
        <div id="navbar">
            {% block navbar %}
            <a href={% url 'index' %} class="{% block nav_home_class %}{% endblock nav_home_class %}">{% blocktrans %}Home{% endblocktrans %}</a>
            <a href={% url 'blog' %} class="{% block nav_blog_class %}{% endblock nav_blog_class %}">{% blocktrans %}Blog{% endblocktrans %}</a>
            {% endblock navbar %}
        </div>
        <div id="body">
            {% block body %}
            BASE BODY
            {% endblock body %}
        </div>
        <div id="footer">
            {% block footer %}
            FOOTER
            {% endblock footer %}
        </div>
    </body>
</html>