{% extends 'base.html' %}

{% block nav_blog_class %}active{% endblock nav_blog_class %}

{% block body %}
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <h3>Autor: {{ post.post.author }}</h3>
            <h3>Traducción: {{ post.translator }}</h3>
            <p>{{ post.post.created_on }}</p>
            <p>{{ post.content|slice:":200" }}</p>
        </div>
    {% empty %}
    No hay publicaciones en el blog actualmente
    {% endfor %}
{% endblock body %}